* {
	margin:0;
	padding:0;
}

html {
	height:100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.46429;
    color: #9a9a9a;
    height:100%;
    overflow-x:hidden;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h4.success {
	color:#dc2565;
	font-weight:700;
}

.select-label {
	position:relative;
}

.select-label:after {
	content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:4px; top:7px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}

.select-label:before {
    content:'';
    right:6px; top:4px;
    width:20px; height:20px;
    background:rgba(0,0,0,0);
    position:absolute;
    pointer-events:none;
    display:block;
}

select {
	border-radius:5px;
	padding:3px 5px;
	padding-right:25px;
	font-weight:400;
	background:#F0F0F0;
	outline:none;
	border:none;
	border-bottom:solid 1px #B4B4B4;
	cursor:pointer;
	transition: all ease 0.3s;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	text-align:center;
}

.select-label.right select {
	background:#82bd00;
	color:#FFFFFF;
}

.select-label.wrong select {
	background:red;
	color:#FFFFFF;
}

.select-label.right:after, .select-label.wrong:after {
	color:#FFFFFF;
}

button {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	border-radius:5px;
	padding:8px 25px;
	font-weight:bold;
	outline:none;
	border:none;
	color:#FFFFFF;
	cursor:pointer;
	transition: all ease 0.3s;
}

button:active {
	transform:scale(0.95);
	-moz-transform:scale(0.95);
}

a.button {
	display:inline-block;
	border-radius:5px;
	padding:8px 25px;
	font-weight:bold;
	outline:none;
	border:none;
	color:#FFFFFF;
	cursor:pointer;
	transition: all ease 0.3s;
}

button.lil, a.button.lil {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size:0.7em;
	padding:5px 10px;
	font-weight:300;
}

a.button:hover {
	text-decoration:none;
}

a.button:active {
	transform:scale(0.95);
}

a.button.action, button.action {
	background:#dc2565;
}

a.button.gray, button.gray {
	background:#b4b4b4;
}

a.button.white, button.white {
	background:none;
	color:#FFFFFF;
	border:solid 1px #FFFFFF;
	box-sizing:border-box;
}

a.button.white:hover, button.white:hover {
	background:#FFFFFF;
	color:#000000;
}

a.button.green, button.green {
	background:#82bd00;
}

button.inactive {
	background:#B4B4B4;
	pointer-events:none;
}

button.checkAnswer {
	display:block;
	margin:0 auto;
	margin-bottom:30px;
}

.dismiss {
	position:absolute;
	top:10px;
	right:10px;
	color:red;
	font-size:1.5em;
}

.object-non-visible {
	opacity:0;
}

.object-visible,
.touch .object-non-visible {
	opacity:1;
}

.hidden {
	display:none;
}

header {
	background:#2f3e53;
	height:50px;
	padding:0 15px;
	line-height:50px;
	position: relative;
	z-index: 10;
}

header .logo {
	height:25px;
	vertical-align:middle;
}

header .menu-button {
	font-size:2em;
	vertical-align:middle;
	color:#FFF;
	line-height:50px;
	transition:all ease 0.3s;
}

header .menu-button:hover {
	cursor:pointer;
}

header.transparent {
	background:none;
	height:50px;
	padding:0 15px;
	line-height:50px;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	z-index: 1000;
}

#content {
	height:calc(100vh - 50px);
	/*position:relative;*/
}

.overlay {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.4);
	animation-duration:0.3s;
}

.full-h {
	height:100% !important;
	overflow-x:hidden;
}

.page {
	width:100%;
	position:relative;
}

.page-buttons {
	position:absolute;
	bottom:30px;
	left:50%;
	width:100%;
	transform:translateX(-50%);
	text-align:center;
}

.page-buttons.positioned {
	position:initial;
	bottom:0;
	left:0;
	transform:translateX(0);
}

[data-key="next"].disabled,
[data-key="prev"].disabled {
	pointer-events:none;
	cursor:not-allowed;
	opacity:.7;
}

.steps {
	margin:0 7px;
	list-style-type:none;
	display:inline-block;
}

.steps .step {
	width:10px;
	height:10px;
	border-radius:50%;
	background:#82bd00;
	opacity:0.6;
	margin:0 3px;
	display:inline-block;
	vertical-align:middle;
	transition:all ease 0.1s;
}

.steps .step.active {
	opacity:1;
	transform:scale(1.2)
}

[data-item='question'].transition,
[data-item="section"].transition {
	position:absolute;
	z-index:10;
}

.walkthrough [data-item='question'].transition,
.walkthrough [data-item="section"].transition {
	top:0;
}

#side-menu {
	position:fixed;
	top:50px;
	right:0;
	z-index:100;
	background:white;
	width:250px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	max-height:calc(100vh - 50px);	
	animation-duration: 0.3s;
	background-image:url(../img/menu_head.png);
	background-position:top;
	background-repeat:no-repeat;
	background-size:100%;
	text-align:center;
	overflow: hidden;
}

#side-menu[data-state="inactive"] {
	display:none;
}

#side-menu .scroll-menu {
	overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 245px);
}

.pic-profile {
	border-radius:50%;
	background:#d3d3d3;
	border:solid 3px white;
}

.pic-profile.big {
	width:180px;
	height:180px;
	display:block;
	margin:0 auto;
}

.pic-profile.menu {
	min-height:140px;
	max-height:140px;
	text-align:center;
}

.pic-container {
	margin:0 auto;
	margin-top:30px;
	position:relative;
	text-align: center;
}

.pic-container:before {
	content:'';
	position:absolute;
	border-radius:50%;
	width:130px;
	height:130px;
	top:5px;
	left:50%;
	background:white;
	margin: 0 auto;
	display: block;
	transform: translateX(-50%);
}

.clip-circle-menu {
  	clip-path: circle(60px at center);
  	position:relative;
}

.edit-pic {
	font-size:1.5em;
}

.edit-pic:hover {
	cursor:pointer;
	color:#000000;
}

.user-info .user-name {
	font-weight:700;
	margin-bottom:0;
	color:#000000;
}

.user-numbers {
	height:95px;
	background:#F0F0F0;
	text-align:center;
	padding-top:15px;
	position:relative;
}

.user-numbers:after {
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	content:'';
	height:1px;
	width:90%;
	background:#B4B4B4;
	margin:0 auto;
}

.number-cont {
	padding:0;
}

.number-cont span {
	display:block;
}

.number-cont .number-label {
	font-size:0.9em;
}

.number-cont .number {
	font-size:2.5em;
	color:#DC2565;
	font-weight:700;
	font-family:'Montserrat', sans-serif;
}

.items-menu {
	text-align:right;
}

.menu-item {
	color:#000000;
	list-style-type:none;
	height:40px;
	line-height:40px;
	border-bottom:solid 1px #D3D3D3;
	padding-right:15px;
}

.menu-item:hover {
	cursor:pointer;
	background:#F0F0F0;
}

.menu-item:last-of-type {
	border:none;
}

.menu-bottom {
	position:absolute;
	bottom:0;
	right:15px;
}

.card-container {
	margin-bottom:30px;
}

.card-container:first-of-type .card {
	background:#8030e1;
}
.card-container:nth-of-type(2) .card {
	background:#82bd00;
}
.card-container:nth-of-type(3) .card {
	background:#f13d4c;
}
.card-container:nth-of-type(4) .card {
	background:#59d1cb;
}
.card-container:nth-of-type(5) .card {
	background:#787b8e;
}
.card-container:nth-of-type(6) .card {
	background:#f2cb20;
}
.card-container:nth-of-type(7) .card {
	background:#8030e1;
}
.card-container:nth-of-type(8) .card {
	background:#f13d4c;
}
.card-container:nth-of-type(9) .card {
	background:#59d1cb;
}

.card {
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	border-radius:5px;
	color:#FFF;
	padding:25px;
}

/* ============== */

.mb-none {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: 5px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb {
  margin-bottom: 20px;
}
.mb-md {
  margin-bottom: 30px;
}
.mb-lg {
  margin-bottom: 40px;
}
.mb-xl {
  margin-bottom: 60px;
}

/* ============== */

.container {
	overflow: auto;
	background-size:cover;
	background-repeat:no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	height:100%; 
	overflow-x:hidden;
}

.green-bg {
	background-color:#82bd00;
	color:#FFFFFF;
}

.white-bg {
	background-color:#FFF;
	color:#000;
}

.pattern-white {
	background-image:url('../img/pttrn_bg_white.png');
}

.pattern-green {
	background-image:url('../img/pttrn_bg_green.png');
}

.flare-green {
	background-image:url('../img/flare_green.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title-logo {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -40%);
	color:#FFFFFF;
	text-align:left;
}

.question-title {
	text-align:center;
	font-weight:700;
	padding-bottom:15px;
	border-bottom: solid 1px #dc2465;
	margin-bottom:10px;
	color:#dc2465;
}

.page-head {
	position:relative;
}

.icon {
	width:35px;
	height:35px;
	border-radius:50%;
	vertical-align:middle;
	display:inline-block;
	background:#dc2565;
	color:#FFF;
	text-align:center;
	line-height:35px;
	z-index:3;
	position:relative;
	font-size: 1.5em;
}

.icon:before {
	content:'';
	position:absolute;
	width:41px;
	height:41px;
	border-radius:50%;
	background:#dc2565;
	display:block;
	top:-3px;
	left:-3px;
	opacity:0.3;
	z-index:-1;
}

.icon.back {
	width:25px;
	height:25px;
	line-height:25px;
	position:absolute;
	display:inline-block;
	top:0px;
	left:0;
	right:0;
	background:#888888;
	transition:all ease 0.3s;
}

.icon.back:hover {
	cursor:pointer;
	background:red;
	text-decoration:none;
	color:#FFFFFF;
}

.icon.back:before {
	width:35px;
	height:35px;
	opacity:0;
	background:red;
	transition:all ease 0.3s;
}

.icon.back:hover:before {
	opacity:0.3;
}

.logo-big {
	width:70%;
	display:block;
	margin:0 auto;
	margin-bottom:50px;
}


.title-logo button {
	text-align:center;
	display:block;
	margin:0 auto;
	margin-top:40px;
}

.iconcont-big {
	width:80px;
	height:80px;
	background:#dc2565;
	border-radius:50%;
	font-size:3em;
	color:#FFF;
	line-height:80px;
	margin:0 auto;
	position:relative;
	z-index:2;
}

.iconcont-big:before {
	content:'';
	width:100px;
	height:100px;
	background:#DC2565;
	border-radius:50%;
	opacity:.3;
	position:absolute;
	top:-10px;
	left:-10px;
	z-index:1;
}

.iconcont-big span {
	position:relative;
	z-index:10;
}

.float-notification {
	width:90%;
	padding:15px;
	position:fixed;
	top:80%;
	left:0;
	border-radius:0 10px 10px 0;
	background:#D3D3D3;
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	text-align: left;
	display:none;
	z-index:1000000;
	cursor:pointer;
}

.float-notification.ui-draggable-dragging {
	opacity:0.7;
}

.float-notification.right {
	background:#bff199;
	color:#65ab00;
}

.float-notification.wrong {
	background:#ffd3d1;
	color:#e70800;
}

.float-notification h3 {
	font-family:'Montserrat', sans-serif;
	font-weight:700;
}

.drops {
	text-align:center;
}

.drops .word-slot {
	border-radius:5px;
	width:140px;
	height:35px;
	display:inline-block;
	margin:2px;
	border:dashed 1px #787878;
	box-sizing:border-box;
	vertical-align: middle;
}

.drops .word-slot.lil {
	width:90px;
}

.drops .word-slot.dropped {
	color:#FFFFFF;
	display:inline-block;
	border-radius:5px;
	background:#8b8b8b;
	border:none;
}

.drags .word-drag.right {
	background:#82bd00 !important;
}

.drags .word-drag.wrong {
	background:red !important;
}

.drags {
	padding:15px;
	border:dashed 1px #787878;
	box-sizing:border-box;
	border-radius:5px;
}

.drags .word-drag {
	width:140px;
	height:35px;
	background:#b4b4b4;
	color:#FFFFFF;
	display:inline-block;
	line-height:35px;
	border-radius:5px;
	margin:5px;
}

.drags .word-drag:hover {
	cursor:pointer;
}

.drags .word-drag.lil {
	width:90px;
}

.word-drag.dropDropped {
	background:#8b8b8b;
}

.puzzle-slot {
	width:90px;
	height:90px;
	display:inline-block;
	border:dashed 1px #787878;
	box-sizing:border-box;
	vertical-align: middle;
}

.puzzle-drag {
	width:90px;
}

.puzzle-drag:hover {
	cursor:pointer;
}

/* ============== */

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
    display: inline-block;
}

.input-file:focus + label,
.input-file + label:hover {
}

.input-file + label {
	cursor: pointer; /* "hand" cursor */
}

.input-file:focus + label {
}

.pic-placeholder {
	width:130px;
	height:130px;
	border-radius:50%;
	background:#d3d3d3;
	border:solid 3px white;
	line-height:130px;
	font-size:3em;
	color:#8b8b8b;
}

/* === asdASDASD === */

.page p.content {
	margin-top:20px;
	margin-bottom:40px;
}

.page p.question {
	color:#000;
	font-weight:300;
	text-align:justify !important;
}

.page .answers {
	display:block;
	text-align:left;
	margin-top:20px;
	padding-top:15px;
	border-top:solid 1px #b4b4b4;
}

.answer {
	text-align:left;
	padding:10px 15px;
	border-radius:10px;
	border:solid 1px #b4b4b4;
	display:inline-block;
	font-weight:300;
	color:#000;
	margin-bottom:15px;
	transition:all ease 0.3s;
}

.answer:hover {
	background:#b4b4b4;
	cursor:pointer;
}

.answer.unable:hover {
	cursor:not-allowed;
	background:inherit;
}

.answer.selected {
	background:#82bd00;
	border-color:#82bd00;
	color:#FFF;
}

.answer.selected.unable:hover {
	background:#82bd00;
	border-color:#82bd00;
}

.answer:first-of-type:before {
	content:'A.';
	margin-right:10px;
	font-weight:700;
}

.answer:nth-of-type(2):before {
	content:'B.';
	margin-right:10px;
	font-weight:700;
}

.answer:nth-of-type(3):before {
	content:'C.';
	margin-right:10px;
	font-weight:700;
}

.answer:nth-of-type(4):before {
	content:'D.';
	margin-right:10px;
	font-weight:700;
}

/* === PIE CHART === */

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  display:block;
  margin:0 auto;
  margin-bottom:15px;
}
.progress-pie-chart.gt-50 {
  background-color: #dc2565;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #2f3e53;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.9130434783px/2);
  top: calc(50% - 173.9130434783px/2);
  width: 173.9130434783px;
  height: 173.9130434783px;
  background: #FFFFFF;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  color: #dc2565;
}

.ppc-percents span.percent {
  font-weight: bold;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/*====*/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	.float-notification {
		top:30%;
	}
  
	.drops .word-slot.lil {
		height:25px;
		width:70px;
		/*! vertical-align: middle; */
		font-size: 0.85em;
		line-height: 25px;
	}
	
	.drags {
		padding:5px;
	}
	
	.drags .word-drag.lil {
		height:25px;
		width:70px;
		line-height:25px;
		font-size:0.85em;
	}

	.puzzle-slot {
		width:70px;
		height:70px;
	}

	.puzzle-drag {
		width:70px;
	}

}
